.modal-overlay {
    position: fixed;
    inset: 0;
    /* top: 0; right: 0; bottom: 0; left: 0; */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: black;
    /* very high */
}

.modal-content {
    background-color: white;
    color: black !important;
    padding: 1.5rem;
    /* 24px */
    border-radius: 1rem;
    /* 16px */
    max-width: 30rem;
    /* 384px */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content button {
    background-color: white;
    color: black;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 0;
}

.modal-content p {
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Sofia Sans';
}

.modal-content p .game-title {
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -2px 2px 0 black,
        1px 1px 0 black;
    font-family: 'Luckiest Guy';
}

.game-rules-title {
    color: white;
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -4px 4px 0 black,
        2px 2px 0 black;
    font-family: 'Luckiest Guy';
    font-size: 5vmin;
}